.card-header {
    background-color: rgb(98, 98, 202);
}

.team-header {
    background-color: rgb(221, 68, 68);
}

.card {
    margin: 1rem;
}

.card-deck {
    display: inline-block;
    margin: auto;;
}